[2013-04-12 20:02] aarondmills opened #1 "Custom fields not showing for account"
When I run attr_writers method on a new account object I do not see any custom fields?

[2013-04-15 14:26] #1 closed, assigned to amalc

[2013-05-11 19:06] nccmike opened #2 "Bad field name errors"
I keep receiving an exception for Bad field name on a custom field. Simply trying to list all contacts.

[2013-05-11 21:13] #2 closed, assigned to amalc

[2013-05-22 18:03] jm3 opened #3 "API example fails with Bad field name: city_(pick) error"
Running the example from the README:

[code]

...errors out with:

`gems/rubyzoho-0.1.7/lib/ruby_zoho.rb:84:in block in create_accessor':
Bad field name: city_(pick) (RuntimeError)`

[2013-05-23 11:52] #3 closed, assigned to amalc

[2013-08-28 21:41] qume opened #4 "superclass mismatch for class User (TypeError) (in rails 3)"
This happens whenever I include the following in initializers/zoho.rb

[code]

I get the following excpetion in the log upon booting the webserver (unicorn in my case):

More from log:
- E, [2013-08-28T13:17:03.162368 #21227] ERROR -- : superclass mismatch for class User (TypeError)  /Users/luke/rails/il-staging-cedar/app/models/user.rb:1:in `<top (required)>'

The gem looks great can't wait to st

[2013-12-10 09:53] christhesoul opened #9 "undefined method `all' for RubyZoho::Crm::Account:Class"
Hey,

Thanks for all the hard work on this gem.

I've been handed the task of integrating parts of Zoho into an existing app that uses Devise. With 0.1.7 I was running into problems with the User class.

So I've bumped to 0.1.8 to solve that, but I'm running into this issue on my first call:

`@accounts = RubyZoho::Crm::Account.all`

is throwing:

`undefined method 'all' for RubyZoho::Crm::Account

[2013-12-14 19:42] #9 closed, assigned to amalc

[2013-12-16 21:32] #4 closed, assigned to amalc

[2014-01-28 23:43] ahhrrr opened #17 "Adding notes to Contacts?"
Hi! Great library.

I'm interested in programmatically adding notes to entities like Contacts, Leads, and Accounts. The API docs [claim that this is possible](https://www.zoho.com/crm/help/api/insertrecords.html#Insert_notes_and_relate_to_the_primary_module), but I haven't been able to figure out how to do this in rubyzoho.

If this functionality doesn't exist, I'm happy to work on a patch if it w

[2014-01-29 15:31] richkettle opened #18 "Tests failing"
On a completely fresh clone of master some of the tests fail. Example:

[code]

Fails because `r` is `nil`. Creating an Account record in zoho makes this test pass because `r` is now not nil.

Running the tests with `--order default` doesn't solve the problem.

Two questions:

Does the Zoho account that the tests are being run against require that records exist already?

Is this an ideal way of do

[2014-01-30 00:17] ahhrrr opened #20 "Can't save to custom fields."
Hi again,

I'm having trouble updating custom fields from Ruby. My Contacts module has a Zendesk ID field that I'm able to access from the API. But I haven't successfully been able to write to it. I've checked the field permissions, and it is visible and read-write to all users. Here's a test case:

[code]

Any ideas?

I've also noticed some issues where the zendesk_api method doesn't get created

[2014-01-30 04:44] #18 closed, assigned to nobody

[2014-01-31 03:44] pjsim opened #22 "Triggering workflow from the API"
Hi, I have a workflow setup so that when I create a lead a task is created and an email sent. It seems that, although it works if I create a lead on the site, if I do it by API then the lead is created but the workflow isn't triggered.

Judging by this thread
https://forums.zoho.com/topic/send-email-using-zoho-crm-api
It needs to have "wfTrigger=true" set for the xmlData but I have no idea how to

[2014-01-31 05:23] #22 closed, assigned to nobody

[2014-02-03 01:00] pjsim opened #24 "API doesn't save custom fields or non string fields"
Ok got another one. This one has me stumped.. it seems that if I have a custom attribute or an attribute that isn't text, it will not get saved into zoho if I save those fields using the API.

For instance doing..
irb(main):016:0> my_lead = RubyZoho::Crm::Lead.new(
irb(main):017:1\* :first_name => 'Tom',
irb(main):018:1\* :last_name => 'Thompson',
irb(main):019:1\* :email => 'myemail@email.com',
i

[2014-03-05 01:06] craigk1 opened #25 "updateRecords Date not updating"
Hey,

When I try to update a record in a lead that is of type Date using the API it is not saving/updating.

For example

RubyZoho::Crm::Lead.update(id: u.leadid,
       fieldname: Time.now.strftime("%m/%d/%Y")
    )

The documentation from zoho states

'While updating data, make sure the date and time are in the MM/dd/yyyy and  yyyy-MM-dd HH:mm:ss formats respectively'

Regardless of MM/dd/yyyy M

[2014-03-19 22:08] christhesoul opened #26 "Smashed my API limit!"
I have managed to completely crush my Zoho API limit today. Although I'm not exactly sure how or why.

I only use the gem for getting, and do so in its own class. Like so:

[code]

I then do stuff using `Zoho.all_accounts` which presumably looks at the cache and avoids the API call.

The only other place I use it is in some tests:

[code]

Will either of these make the excessive API calls that wou

[2014-05-20 22:10] nccmike opened #27 "Not pulling all leads"
Is anyone else having an issue getting all leads from Zoho? When I use the RubyZoho::CRM::Lead.all, it seems to be "limited" and does not return all the leads. Any suggestions? Does Zoho somehow limit the response?

[2014-06-13 12:46] #27 closed, assigned to nobody

[2014-08-19 18:06] brenes opened #29 "Can't save fields with _"
Hi,

We have created some utm custom fields (utm_campaign, utm_term...) in our zoho but we are not being able to populate them from the API.

We noticed that when the XML to be sent to the API is generated those fields have changed to a capitalized version (Utm Source, Utm Term...) due to the ApiUtils#symbol_to_string method, so although they are sent to Zoho they are not saved (it doesn't trigger

[2014-10-23 18:55] rept opened #32 "Authentication?"
Hi,

I've been trying out zoho_invoice, however that gem doesn't support v3 of the API.  That's why I'm now checking out this gem.  I installed it and configured the API key of the application I created on the Zoho site.  However I can't find which method I need to call to authenticate a user and get a token?

[2014-10-23 23:26] #32 closed, assigned to nobody

[2015-02-22 10:52] koeckc commented on #20
I am facing the same issue .. do you have an idea already why the custom fields are not working ?
Thx in advance

[2015-02-22 10:58] amalc commented on #20
So no special characters in the custom field name?

[2015-02-22 10:59] amalc commented on #20
And are you pointing at the repo? Or using the published gem?

[2015-02-22 11:00] koeckc commented on #20
i use the published gem and i have no special character in the field.
I also can see the field in attr_writers

[2015-02-22 11:02] amalc commented on #20
Could you do a quick check and point to the repo? Thanks.

[2015-02-22 11:06] koeckc commented on #20
I use that in my Gemfile now gem 'rubyzoho', :git => 'https://github.com/amalc/rubyzoho.git'
And it is still not working...

[2015-02-22 11:07] amalc commented on #20
Are you getting an error?

Right. Bringing up my copy now. Will revert.

[2015-02-22 11:08] koeckc commented on #20
No error ... feild is just empty in the crm .
The standard fields seem to work.. (firstname,lastname,email) etc

[2015-02-22 11:09] amalc commented on #20
OK.

[2015-02-22 11:28] amalc commented on #20
Just updated dependent gems and looks like all the tests passed. I'm going to add VCR (long over due) to get around Zoho API limits and then re-test for custom fields. If you get a chance can you re-run your test?

[2015-02-22 11:48] koeckc commented on #20
I will test in the next hours and report
Thx your fast response is highly appreciated

Sent from my phone.

[2015-02-22 12:24] koeckc commented on #20
tested lastest code ... still not working

[2015-02-22 12:31] amalc commented on #20
OK. Thanks. Adding VCR logic now to tests. Will sort out this issue. I'll probably run out of API calls today so will need to take another run at it tomorrow.

[2015-02-22 13:25] amalc commented on #20
To which Zoho module are you adding the custom field?

[2015-02-22 14:28] koeckc commented on #20
To a lead

Sent from my phone.

[2015-02-22 20:58] amalc commented on #20
OK. So looks like there are issues with fields that are not text. On our setup, we're got custom fields for Currency and Numerics which we don't update through the API. I tweak a test to send through a currency field, and the API returned an error indicating an invalid value. So, added a new custom Text field to Leads and ran the following test.

`  it 'should save and retrieve a lead record with

[2015-02-22 23:36] amalc commented on #24
@pjsim Took a run at non-text fields and the Zoho API is rejecting anything that isn't text. Currency etc. I've asked them what their preferred format is, so we'll see.

[2015-02-22 23:55] #17 closed

[2015-02-22 23:58] amalc commented on #29
Sorry I didn't see this. We have a test Zoho account for testing. And we're very careful about API usage.

[2015-02-23 00:03] amalc commented on #26
@florian2 Do you have any ideas about this? It's not obvious what the best option here is. Could just add a configuration option which just has the gem do nothing when its running in a test environment. But that will more than likely break any tests you've got. I've just added VCR to the gem to test without having to call the Zoho API and it works well. Would that option work for you? You'll need

[2015-02-23 09:34] koeckc commented on #20
Im trying with this code
[code]

Still the testinteger and the teststring do not work

[2015-02-23 10:06] florian2 commented on #26
we ended up writing our own api-client for zoho crm. i think the concept, that for every reloading / starting  of the environment this gem makes calls to zoho to (i guess) fetch the actual "structure" of the zoho objects is the root cause here. it adds up over a day. adding vcr for testing env is always a good idea :)

[2015-02-23 11:57] amalc commented on #26
@florian2 It can, yes. We use this feature to reduce to calls during development and testing.
[code]

[2015-02-23 12:02] amalc commented on #20
What happens if you use `l.testinteger = '5'`?

[2015-02-23 12:07] amalc commented on #20
Also ca you try the code above without the integer call. Perhaps the whole update is failing because of the integer.

[2015-02-23 12:11] koeckc commented on #20
I tried without integer and the teststring is not working eighter ... I don't get an error the field is just not filled in the CRM

Sent from my phone.

[2015-02-23 12:53] amalc commented on #20
Just tried modifying the test to
[code]
and it works. I think you may have a permissions problem. Can you make sure that the API user has update access to the fields?

[2015-02-23 15:54] amalc commented on #26
FYI. A new version of the gem 0.5.0 switches to the newer Zoho search API. This effectively raises the number of API calls used in a day because search are no longer accounted for separately. I'm going to close this issue out. Re-open if somebody has an idea of how to test which can be incorporated into the gem. Thanks.

[2015-02-23 15:54] #26 closed

[2015-02-23 16:08] koeckc commented on #20
I have created the key from an user that has this rights.
I can update in the webui
I can fetch the record with the custom fields via api
But every change that i make (only to the customfields) is not stored
Via create it isnt working eighter

[2015-02-23 16:39] koeckc commented on #20
I tried it also on two different zoho accounts.

[2015-02-23 17:00] amalc commented on #20
Very strange. So you can create a record? But only the custom fields do not get populated? And the other fields do?

[2015-02-23 17:01] amalc commented on #20
Also, if you update the custom fields in the web ui, do you see the updates when you fetch the record? I thin that is what you said just confirming.

[2015-02-23 17:16] koeckc commented on #20
Yes on fetch i get the stuff including custom fields that i modified via web:
Yes the fields that i tried besides the custom one work...

Now i testet another ruby zoho lib (zoro) and at least there the string custom fields seems to work... the number does not.
example
[code]

[2015-02-23 17:17] amalc commented on #20
@koeckc I've flipped the debug switch on which will print the traffic on the wire. Can you run your test and post the log? Thanks.

[2015-02-23 17:18] ahhrrr commented on #20
Hi all – I'm no longer using this library (or Zoho at all for that matter), so I'm afraid I won't be helpful in testing this in the future. My apologies!

[2015-02-23 17:20] amalc commented on #20
@ahhrrr Thanks.

[2015-02-23 17:25] koeckc commented on #20
code:
[code]
log:
opening connection to crm.zoho.com:443...
opened
starting SSL for crm.zoho.com:443...
SSL established
<- "POST /crm/private/xml/Leads/insertRecords HTTP/1.1\r\nContent-Length: 459\r\nConnection: close\r\nHost: crm.zoho.com\r\nContent-Type: application/x-www-form-urlencoded\r\n\r\n"
<- "newFormat=1&authtoken=c95c20976307e259918cebc7b6a75a99&scope=crmapi&xmlData=%3CLeads%3E%3Crow%2

[2015-02-23 17:29] koeckc commented on #20
Could it be a problem that you make the fieldname starting with capital letter ?
The library does not...
But they seem to do it via get which looks weird to me
Here the output from the other lib

get https://crm.zoho.com/crm/private/xml/Leads/insertRecords?authtoken=c95c20976307e259918cebc7b6a75a99&newformat=1&scope=crmapi&xmlData=%3CLeads%3E%0A++%3Crow+no%3D%221%22%3E%0A++++%3CFL+val%3D%22First+N

[2015-02-23 17:31] amalc commented on #20
I'm using capitals and spaces, so in Zoho the field test_integer is called Test Integer. I se what you mean...
Can you try Test String and Test Integer as field names?

[2015-02-23 17:32] amalc commented on #20
What is the field name in Zoho now, is it TestString?

[2015-02-23 17:33] koeckc commented on #20
its teststring

[2015-02-23 17:34] amalc commented on #20
Yes, that's the problem... It capitalizes the field name to match.

[2015-02-23 17:34] amalc commented on #20
There has been a discussion in another pull request to map the actual field name so we don't have to guess at the  capitalization. Can you work around this with changing the field name in the UI?

[2015-02-23 17:36] amalc commented on #20
For some reason, Zoho doesn't throw and error, which would have made this a lot easier to find.

[2015-02-23 17:37] koeckc commented on #20
Ok with capital name fields also the integer works :-/

[2015-02-23 17:40] koeckc commented on #20
we will work around that in our setup
Thank you very very much for your support !!!!

[2015-02-23 17:47] amalc commented on #20
Good luck! I'll test the mapping version that is in PR#30 and once it passes the test, will send out a new version. BTW, there 0.5.0 has been pushed to Rubygems. The master branch will probably become unstable as this new feature is integrated.

[2015-02-23 17:49] amalc commented on #20
Also I would suggest you erase the auth token in the log above or generate a new one!

[2015-02-23 17:57] #20 closed

[2015-02-23 18:11] amalc commented on #20
@koeckc Also check the updated ReadMe for some strategies to reduce API calls. :)

[2015-02-23 18:42] koeckc commented on #20
thx for the tips ... i erased apikeys ..anyway this is just a test account

[2015-02-25 18:22] amalc commented on #24
Updates to integer custom fields appear to be working. There is a test that passes now. However, it does return a string when queried.

[2015-03-04 00:19] amalc opened #34 "Limit on returning all"
Issue raised in SO.
http://stackoverflow.com/q/28393085/831473

[2015-03-04 14:57] amalc opened #35 "Boundary value bug on retrieve"
https://github.com/xmacinka/rubyzoho/commit/551df26d8cbc610657c669eb313b34984031a7d3

[2015-03-04 15:12] amalc opened #36 "Find by record ID format"
https://github.com/invoscape-team014/rubyzoho/commit/3ee178d80f0170c16ac1080221ca3a02778e83f1

[2015-03-21 05:26] fastsyrup opened #37 "Error starting up"
Hi,

Just bundlet your gem, I get the following error. Rails 4.2.0 and ruby 1.9.3 on windows. By the way I use mongoid and no activerecord.

Initializer:
[code]
Error:
[code]

Thanks for your help
 - Mike

[2015-03-21 13:27] amalc commented on #37
Mike, the Gem no longer works on 1.9.3 because of the current version of REXML it uses. Can you use an older version of the Gem?

[2015-03-21 13:51] fastsyrup commented on #37
Hi,  tried it but still no luck:

..
Using rdoc (4.2.0)
Using roxml (3.3.1)
Installing rubyzoho (0.3.4)
Using sass-rails (4.0.2) from https://github.com/zakelfassi/sass-rails (at
master)
Using sdoc (0.4.1)
Using teamworkpm (2.0.0) from https://github.com/ready4god2513/teamwork (at
master)
Using thin (1.6.3)
Using turbolinks (2.5.3)
Using tzinfo-data (1.2015.1)
Using uglifier (2.7.1)
Using web-cons

[2015-03-21 13:53] amalc commented on #37
Looks like to using rubyzoho 3.4. See the line with <pre>Installing rubyzoho (0.3.4)</pre> in it?

[2015-03-21 13:53] amalc commented on #37
You'd need to use 0.2.0.

[2015-03-21 19:49] fastsyrup commented on #37
Ik ok ill try when home, thx!

Von meinem iPhone gesendet

[2015-03-22 13:15] fastsyrup commented on #37
hi, that won't work either:

...
Installing rubyzoho (0.2.0)
Using sass-rails (4.0.2) from https://github.com/zakelfassi/sass-rails (at
master)
Using sdoc (0.4.1)
Using teamworkpm (2.0.0) from https://github.com/ready4god2513/teamwork (at
master)
Using thin (1.6.3)
Using turbolinks (2.5.3)
Using tzinfo-data (1.2015.1)
Using uglifier (2.7.1)
Using web-console (2.1.1)
Your bundle is complete!
Use `b

[2015-03-22 18:13] amalc commented on #37
OK. Let me see if I can bring up a skeleton app...

[2015-03-22 20:43] amalc commented on #37
OK. Just test Rails 4.0.2 with rubyzoho 0.5.0 and Ruby 2.1.5. No problems.

[2015-03-22 20:54] amalc commented on #37
I take it that upgrading to a new version of Ruby is off the table?

[2015-03-22 21:17] amalc commented on #37
Works with Rails 4.2.1, Ruby 2.1.5 and rubyzoho 0.5.0.

[2015-03-22 21:25] amalc commented on #37
Just installed 1.9.3-p551 and got <pre>
WARNING: Please be aware that you just installed a ruby that is no longer maintained (2014-02-23), for a list of maintained rubies visit:

    http://bugs.ruby-lang.org/projects/ruby/wiki/ReleaseEngineering

Please consider upgrading to ruby-2.2.0 which will have all of the latest security patches.
</pre>
Will proceed on trying Rails 4.2.1 with Ruby 1.9.3 bu

[2015-03-22 21:52] amalc commented on #37
Well, to my utter amazement it works. Here is a new repo with a skeleton rails app and an initial call to list accounts from the CRM. https://github.com/amalc/zohocrm-test

Be sure to set an environment variable for the API key, look for <pre>zoho.rb</pre> in <pre>config/initializers</pre> for the exact name.

The <pre>.ruby-version</pre> sets the version of Ruby. I use rvm so it was as simple as

[2015-03-23 07:24] fastsyrup commented on #37
Hey, I'll try your version setup, thx! Best regards Mike

Von meinem iPhone gesendet

[2015-03-26 14:39] alipman88 opened #38 "Can't update custom fields containing 'id'"
Hi, I have a custom field named 'Candidate Name' in my Campaign module.

Using the rails console, when I try to update a campaign's 'Candidate Name' field, I don't get any errors -- it appears to succeed.

But, when I check Zoho, the 'Candidate Name' field hasn't been updated.

Looking at the source code, I'm seeing `field.rindex('id')` used in a few places:
https://github.com/amalc/rubyzoho/searc

[2015-03-26 14:44] amalc commented on #38
Good catch! Thanks. Master currently has mapping fields which need to be tested, so it's not a good place to make this change. Are you going to fork? Or I can branch off of 0.5.0 and make the changes.

[2015-03-26 14:46] alipman88 commented on #38
Wow, wasn't expecting such a quick response. Thanks!

I just updated my initial comment:

"I haven't looked at the code very carefully (or used Zoho extensively), so I'm not 100% sure this won't cause unintended consequences. If it seems safe, I'd appreciate it if you'd go ahead and make the change. Otherwise, I'm happy to fork the repo, test things out, and put in a pull request."

So yeah, if yo

[2015-03-26 14:54] amalc commented on #38
I just branched at the 0.5.0 commit and pushed a new branch to GitHub. The gem has a pretty thorough test suite that should catch any issues with the change. And adding a custom field with and embedded 'id' will be a new test :). I'll probably be able to update the code and re-run the test today or tomorrow.

[2015-03-26 14:57] #37 closed

[2015-03-27 11:34] amalc commented on #38
Want to give the branch 'remove-rinds' a try?

It's passing locally for me but Travis must be pointing to a different account and will need to be fixed.

[2015-03-27 14:36] alipman88 commented on #38
It's working for me -- thanks so much!
    campaigns = RubyZoho::Crm::Campaign.all

    c[0].id
      => "1388219000000097013"

    c[0].candidate_name
      => "Barry"

    RubyZoho::Crm::Campaign.update(id: '1388219000000097013', candidate_name: 'Other Barry')

    campaigns = RubyZoho::Crm::Campaign.all

    campaigns[0].candidate_name
      => "Other Barry"

I haven't attempted to get the test

[2015-04-27 05:14] abhinavtiwari18 opened #39 "NameError in creating a lead"
Hi,
While creating a lead i am getting following error

NameError: `@how_did_they_find_about_us_and_what_is_their_need?' is not allowed as an instance variable name

I am running following command on rails console
l = RubyZoho::Crm::Lead.new
l.attr_writers
l.first_name = "test lead"
l.last_name = "last"
l.email = "abcabc.com"
l.save

[2015-04-27 07:32] #39 closed

[2015-06-09 19:11] mark-kraemer commented on #25
I just ran into this issue trying to update a Date field named "Student DOB" in Zoho.  Looking at the XML produced, I realized the value was set to "Student Dob".  It seems that rubyzoho doesn't take into account all capital words.  Changing my field name in zoho to "Student Dob" allowed me to save the date.

What was produced:
`<Leads><row no='1'><FL val='Student Dob'>06/09/1995</FL></row></Leads

[2015-06-09 19:36] amalc commented on #25
Yes. That right. There's a fix underway in master but I haven't had to me to test it.
_____________________________________
Amal Chaudhuri * +1-212-537-9054

On June 9, 2015 3:11:37 PM EDT, Mark Kraemer <notifications@github.com> wrote:

[2015-06-12 15:22] tomharvey opened #40 "LoadError mime/types"
When installing into a new gemset and trying out the Gem:

[code]

This is tested in both 1.9.3 and 2.2.2

The issue can be resolved by `gem install mime-types`

[2015-06-12 16:21] #40 closed

[2015-07-22 01:20] bjminihan opened #44 "Proper method for retrieving records modified after"
Using version 0.2.0, I was able to pull Account records modified within the past 4 hours.

Since upgrading to 0.5.0, this method no longer works.

Here's how I'm doing it:

        z = ZohoApi::Crm.new(Autobahn::Config.zoho_api_key, ["Accounts"], true, true)
        z.find_records("Accounts", "modified_time", ">", "2015-02-19 11:39:33")

I could find no other way of achieving this with the RubyZoh

[2015-07-22 02:22] amalc commented on #44
Well, the Zoho API for retrievals changed between ‎those versions and it's entirely possible that the new API doesn't support it. I'll take a look.                                                                                                                                                                                                                                          From: Bryan Minihan

[2015-07-22 14:22] bjminihan opened #45 "Missing fields.snapshot causes Passenger deployment issues"
While upgrading my EC2 server to Passenger 4.0.59, Rails 4.2.1 and Ruby 2.1.5, Passenger bombs (and my app never deploys) on a missing file in the rubyzoho gem:

    Permission denied @ rb_sysopen - /var/app/current/vendor/bundle/ruby/2.1.0/gems/rubyzoho-0.5.0/lib/../spec/fixtures/fields.snapshot (Errno::EACCES)
      /var/app/current/vendor/bundle/ruby/2.1.0/gems/rubyzoho-0.5.0/lib/ruby_zoho.rb:4

[2015-07-22 15:31] amalc commented on #45
Which version of the gem?                                                                                                                                                                                                                                                                          Sent from my BlackBerry 10 smartphone.

[2015-07-22 15:50] bjminihan commented on #45
Currently using version 0.5.0, but I checked the repository history and
couldn't find that file in version 0.2.0, which I was using previously.

Everything compiles and runs fine on an older version of Passenger, which
doesn't complain as much as the newer one.  Other than a change to the
search function, I've no practical problems with this gem regarding that
file, since I assume it's part of the

[2015-07-22 16:00] amalc commented on #45
There is a file that was missing in the gemspec that somebody found and submitted a PR which is in the master branch. Can you take a quick look and see if that fixes the problem. I wouldn't use the master branch in prod. It's got some untested enhancements in it for mapping.

[2015-08-31 20:11] bjminihan commented on #44
Any news on how to find recent accounts in rubyzoho?  Buehler?

[2015-09-01 00:38] amalc commented on #44
@bjminihan Sorry, been a bit hectic and didn't get a chance to look at the API call.

[2015-09-15 21:33] benknowles opened #47 "Data loss when saving Cases when no prior records exist"
In order to reproduce this, add "Cases" to the module list and make sure there are no cases records in Zoho.

[code]

This will create a record, but none of the field data is saved (all blank). Now if you re-run the script with the existing record it will work fine.

It looks like something isn't being initialized, because you have to reload RubyZoho for it to work, i.e. creating 2 records from sc

[2015-09-18 15:08] amalc commented on #47
This isn't good. Only on Cases?

[2015-09-18 15:08] amalc commented on #47
And only on an empty list?

[2015-09-18 15:50] benknowles commented on #47
I've only had this happen on Cases, and only on an empty list.

If RubyZoho is initialized with an empty list, any cases will be messed up.

If it's initialized when there are 1 or more, it works fine.
On Sep 18, 2015 10:08 AM, "amalc" <notifications@github.com> wrote:

[2015-09-18 15:56] amalc commented on #47
That's just plain weird. Because every class except for User is created dynamically based on the initializer and all of the code is shared. I wonder if this happens on any empty list? That would clearly make it a bug. If it's just Cases then it probably in Zoho's API logic. Have you tried an empty list anywhere else?

[2015-09-18 16:04] benknowles commented on #47
It could be. I'm unable to test it because this is an Enterprise level
account with live data in it that I can't risk.

But, the Cases module behaves differently than most others so I wouldn't be
surprised if it's something on their end.
On Sep 18, 2015 10:56 AM, "amalc" <notifications@github.com> wrote:

[2015-09-18 16:05] amalc commented on #47
Right. Thanks. I'm not sure how to proceed. Could turn logging on I suppose to see what's happening. Or  I guess the work around, which is ugly, is to add a record manually.

[2015-10-21 17:43] rapofran commented on #38
@alipman88 how do you get the Campaign modules working?

I'm getting:
`NameError: uninitialized constant RubyZoho::Crm::Campaign`
when running
`campaigns = RubyZoho::Crm::Campaign.all`

I've also tried `remove-rindex` branch.

Thanks!

[2015-10-22 10:46] amalc commented on #38
Juan, never tested with the campaign module. Is it available in the basic edition?
_____________________________________
Amal Chaudhuri * +1-212-537-9054

On October 21, 2015 1:43:43 PM EDT, Juan Francisco Raposeiras <notifications@github.com> wrote:

[2015-10-22 12:23] amalc commented on #38
OK. I see that it is. Will take a look.

[2015-10-22 17:00] rapofran commented on #38
@amalc thanks!

[2015-10-28 18:15] jcmorrow opened #48 "Cannot update custom fields if Lead initialized with parameters"
If we have a custom field on a lead called "Custom Field One" the following code works:

    lead = RubyZoho::Crm::Lead.new
    lead.custom_field_one = "a new value"

However, the next piece of code will raise a NoMethodError

    lead = RubyZoho::Crm::Lead.new(last_name: "Smith")
    lead.custom_field_one = "a new value"

 I tried to dig into the code to better understand where the custom fields

[2015-10-29 15:01] amalc commented on #48
John, a custom field name needs to be a legal ruby variable name at this stage. There is a fix, untested as yet, in master that maps field names from and to legal names in the api to Zoho names. HTH.

[2015-10-29 16:34] alipman88 commented on #38
Apologies for the delayed response.

If you're still having issues, it sounds like you may not be initializing/configuring Zoho, before attempting to use the API. Check out the Configure section of the Readme:

https://github.com/amalc/rubyzoho#configure

FWIW, my zoho.rb intitializer file looks like this:

[code]

I wrap the configuration in a configure_zoho method, which I then call immediately

[2015-11-04 15:36] rapofran commented on #38
@alipman88 thanks a lot! is working now!

[2015-11-23 18:35] cthornbe commented on #45
@bjminihan Were you ever able to find the cause of this issue? I'm hitting the same error today.

[2015-11-23 19:36] bjminihan commented on #45
I wound up talking to the Zoho API directly, because I couldn't get it to work.  I believe if I had linked directly to the R0.50.0 release instead of the v0.50.0 release (which doesn't have the file in question), it would have worked, but my production environment doesn't make linking directly to tagged github versions simple.

[2015-12-03 10:18] siddhant-mohan opened #49 "Not getting the product details when making call to Invoice API"
I am making request to invoice api
RubyZoho::Crm::Invoice.find_by_id('1496038000000856087')

I am getting all the data related to invoice but not the product_details.

I have checked the data of the direct api call to zoho crm and it's returning me product details also.

[2015-12-03 13:03] siddhant-mohan commented on #49
I debugged it little more and found out that in gems/rubyzoho-0.5.0/lib/zoho_api_field_utils.rb:73

[code]

In create_and_add_field_value_pair method, its just assigning the n.text to v if its not null. But in my case n is
<FL val='Product Details'><product no='1'><FL val='Product Id'>1496038000000671051</FL><FL val='Product Name'><![CDATA[AWS Core Service]]></FL><FL val='Unit Price'>1.0</FL><FL v

[2015-12-03 15:11] amalc commented on #49
That’s very helpful. Did you want to send in a PR? 

[2015-12-12 15:58] siddhant-mohan commented on #49
Yeah will send the pr in some time.

[2016-01-03 22:39] jheth commented on #49
The same issue exists trying to get product_details from a Quote, which I just ran into.

[2016-01-04 00:57] amalc commented on #49
PR was integrated. Can you point to the master branch and try it?

[2016-01-04 01:23] jheth commented on #49
I tried running from master first but I have a conflict with the mime-types gem.  master requires > 2.x and 0.5.0 let's me use 1.x

[2016-01-04 04:22] jheth commented on #49
@amalc I tried on master and still not seeing Quote#product_detail records.
`RubyZoho::Crm::Quote.first.product_details => nil`
`ZohoApi::Crm#related_records('Quotes', '{id}', 'Products')  => 200`

[2016-01-04 15:45] amalc commented on #49
@jheth Hmm. OK. Let take a look.I had this problem on our instance a couple of year ago and fixed it but I don't think it was in the Gem. Something, if I remember correctly, with permissions.

[2016-02-28 00:05] rush-skills opened #51 "Bulk Insert Fields"
Is it possible to bulk insert records into Zoho, thus utilizing the API Limits properly? Right now on callling .save inserts it instantly using one API call.
https://www.zoho.com/crm/help/api/insertrecords.html
https://www.zoho.com/crm/help/api/api-limits.html

Any help/suggesting to fixes would be appreciated.

[2016-03-03 18:49] amalc commented on #51
It's  good idea. What do you think the behavior should be? ActiveRecord style perhaps by using an array?

[2016-03-04 00:46] rush-skills commented on #51
Yeah, AR style using an array sounds good. It could automatically run it for each 100 records if there are a lot of them.

[2016-03-08 04:03] MitchWeiss opened #52 "Duplicate Check"
Is there some way to set the duplicateCheck field? I would like to set it to '2' so that I can update duplicate records on save rather than creating a new record.

[2016-03-08 06:01] MitchWeiss opened #53 "Custom field names"
Sorry to open yet another ticket about custom field names, I see there have been a few previously but they appear resolved.

I have a field named 'Price ex GST' which I can't set the value of (x.price_ex_gst = "123"). When I change the field name to 'Price Ex Gst' it works fine. I need it to work with the current field name in production otherwise it will break legacy code.

I see in the previous

[2016-03-11 04:33] MitchWeiss commented on #53
Any suggestions @amalc?

[2016-03-11 05:48] amalc commented on #53
Sorry. I thought I had responded. But didn't.

The field needs to end up being a legal Ruby variable name in all released versions. The master branch does have a fix on which maps Zoho names to legal Ruby variables and back but I have not had a chance to test it. Want to try it? And o can work with you to fix any bugs.

[2016-03-12 07:22] MitchWeiss commented on #53
It works perfectly! No matter the case of the field name it updated the field correctly. I even tried weird case such as "prICe ex GsT"

Thanks for the assistance!

[2016-05-17 01:36] reedhein opened #55 "How do I use related_records method"
RubyZoho.configuration.api.related_records("Contacts", contact_with_attachments, "Attachments") #=> 200

I feel like I should be able to get more from this method.

[2016-05-17 06:26] reedhein commented on #55
playing around with a forked version of the gem, it appears that the arguments are flipped
RubyZoho.configuration.api.related_records("Contacts", contact_with_attachments, "Attachments") becomes
RubyZoho.configuration.api.related_records("Attachments", contact_with_attachments, "Contacts")

I also returned the value of #to_hash instead of #check_for_errors and it works fine.

[2016-05-17 10:29] amalc commented on #55
Excellent! Did you want to send in a PR?
_____________________________________
Amal Chaudhuri * +1-212-537-9054

[2016-05-17 14:59] reedhein commented on #55
No, I will add `downladFile` support b/c it is what my real goal is.  After that I will submit a PR.

[2016-09-27 02:29] ryujignh opened #60 "Unable to add number of employees"
I've been trying to make a new lead with the number of employees. It successfully populates other fields, but only the number of employees field isn't populated. Here is my code. Am I missing something?

[code]

Thank you,

[2016-09-27 02:50] amalc commented on #60
Looks good to me. Do you have the field defined in Zoho? Sorry, obvious question. And does the API user have the rights to update it?

[2016-09-27 05:02] ryujignh commented on #60
Yes, I have the field number of employees in the lead information. Do you individually have to set the permission to update for each field in Zoho?

[2016-09-27 08:07] ryujignh commented on #60
I am able to update other fields, but still not the number of employees. Can you add or update the num of employees on your side?

[2016-09-27 13:53] ryujignh commented on #60
The field name has a dot in it (No. of Employees). Does it might cause any trouble populating data?

[2016-09-27 15:41] #60 closed

[2016-09-27 16:23] ryujignh commented on #60
I have found the cause and solution. Just created a new PR. Thanks!

[2016-09-27 17:56] amalc commented on #60
Yes, that's the problem. Can you try pointing to the master branch? We have
a mapping fix in there.

[2016-10-13 15:07] FabioRos commented on #51
Hello, are there some news about this issue?

[2016-10-19 04:53] benknowles opened #63 "Thoughts on refactor to allow for other Zoho services"
Hi, I'm playing around with allowing the ability to use other services besides CRM. It seems that there are several other products that use the same structure like Sheets, People, Recruit.

My strategy is to turn configure() into an OpenStruct and allow API keys, etc. to be defined for each 'service'.

    RubyZoho.configure do |config|
      config.recruit.api_key = "XXXXXXXXXXXXXXX"
      config

[2016-10-19 10:47] amalc commented on #63
Yeah, its something I was thinking about as well since the beginning and originally thought that perhaps separate gems would be the way to go. But I think your idea is far superior.

[2016-10-19 10:49] amalc commented on #63
The tricky part of testing this gem is the rate limit of the API. I've tried to get Zoho to respond to give us an account to be used strictly for testing this gem, but no joy. Writing the tests for this is a real pain. Because debugging the test can easily trip the rate limit. I was up at around 95% coverage before the tests broke.

[2016-10-19 10:51] amalc commented on #63
Being backward compatible for the config I think is important and deprecate that after sometime. Will think about testing this and take another run at Zoho to see if they can give this project an account with high limits. Or perhaps you have more pull with them?

[2016-10-19 14:28] benknowles commented on #63
I think the problems with the rate limiting are universal. I have an enterprise-level account for one of my clients, and I got so fed up dealing with it I ended up throwing together a cron to bulk copy the data into MongoDB every hour (https://github.com/benknowles/zongo). There are certain API methods that simply stop working once you go over 3000 records in a module. Zoho support is usually of n

[2016-10-22 15:32] amalc commented on #63
That sounds like  good idea, the boilerplate class. I need to take a look at getting the tests to run properly again. Just checked out zongo!  That's clever!

[2016-10-31 14:20] FabioRos commented on #51
It is also possible to bulk update records?

[2016-11-17 23:48] jakesorce opened #66 "Need to Access Deals"
Hello,

Is there a way for me to CRUD deals on a contact through this gem?

[2016-11-18 00:41] amalc commented on #66
Have you tried adding deals to the configuration?
⁣

​

On Nov 17, 2016, 23:48, at 23:48, Jake Sorce notifications@github.com wrote:

[2016-11-18 01:21] jakesorce commented on #66
yeah it worked thanks!

[2016-11-18 01:21] #66 closed, assigned to nobody

[2016-12-14 20:04] bibimij commented on #53
I have created a custom field Project Id and tried to put the data to it.
`RubyZoho::Crm::Lead.update({id: "1877296000004683113", project_id: "12345"})`
The operation was succeful, but it didn't change the value. I saw many comments about this problem, but did not find the solution among them.

**UPD** The field is string type, of course.

**UPD 2** Empirically it has been proved that the field co

[2017-01-10 09:27] betelgeus13 opened #67 "Adding/receiving products in SalesOrders"
Hi I could not add products to a SalesOrders nor Quotes, and when I try to get a SalesOrder/Quote i get the product_details nil.

is there anything I do wrong?

my config looks like this
RubyZoho.configure do |config|
  config.api_key = Rails.configuration.zoho_auth_token
  # config.crm_modules = ['Contacts', 'Leads', 'Activities'] # Defaults to free edition if not set
  config.crm_modules = ['Pro

[2017-02-27 00:33] AlbaHoo opened #68 "Find by related id doesn't work"
`RubyZoho::Crm::Contact.find_by_accountid` works
`RubyZoho::Crm::Deal.find_by_accountid` does not work;

[code]

[2017-02-28 01:29] #68 closed, assigned to nobody

[2017-02-28 01:29] AlbaHoo commented on #68
Sorry I just saw the documentation, not possible!

[2017-07-12 08:14] flvrone opened #70 ""Can't modify frozen string" error if working with ActiveSupport::HashWithIndifferentAccess"
As I understand, `ActiveSupport::HashWithIndifferentAccess` after merging it with a regular `Hash` has all it's `String` keys frozen, and your gem is trying to modify a key if it is a `String`.
You should work with copies of those string keys, and do not try to modify them in place. Didn't you heard about pure functions? :)

[2017-07-12 10:16] amalc commented on #70
Feel free to send a PR as many have already contributing to the usefulness of the gem.

[2017-10-18 03:11] AlbaHoo commented on #17
Sorry, is `Notes` added or not, lost in the conversation!

[2017-11-02 02:12] amalc commented on #17
Apologies. Didn’t see this. No, never did get it working.

[2017-11-02 02:22] AlbaHoo commented on #17
I have went through your code and ZOHO API DOC, and get it work in this way:
But this is for Deal module, should be the same to Contact, replace `deal_id` with `contact_id`
[code]
In case someone has the same problem.
@amalc maybe Note doesn't have to be a separate module, I don't know.
Rubyzoho is awesome, just want to thank you for your great work.

[2017-11-02 02:25] amalc commented on #17
Wow. Can you send a pull request? It’s time for a new release!

[2017-11-02 02:29] AlbaHoo commented on #17
Haha, it's mostly your code, I just put them together with the note api endpoint, but yeah, I would love to do that next week, cheers.

[2018-04-25 05:18] Phlip opened #72 "How to set Task.related_to Lead.id ?"
I have uploaded a new Lead, and now I want to upload a Task with its "related to" field set to that Lead.

I tried `task.related_to = lead.leadid`, and got a Task record with a blank "related to" in the Zoho website. And when I try `task.related_to = 'Lead'; task.relatedtoid = lead.leadid`, I get a `undefined method relatedtoid=`.

So what am I missing? how do I do this simple thing?

[2018-04-26 01:25] AlbaHoo opened #73 "Zoho api v2 released."
Just want to confirm, is there any upgrade plan in terms of new zoho api version, v2.

    https://www.zoho.com/crm/help/api/deprecation-transition-announcement.html

The V1 APIs used in your existing code will still work even beyond the deprecated date, and will become non-operational only after the Sunset Date mentioned below.

[2018-04-26 03:20] amalc commented on #73
Thanks for the heads up. I haven't had a lot of time to devote to this gem
over the last year. Let me take a look. Have you looked at V2?

[2018-04-26 03:27] AlbaHoo commented on #73
Not really, I just noticed today, the big differences are
    1. Change from api_key authentication to OAuth
    2. Change `input/output` format from XML to JSON
still have 1.5 years to do, I would love to keep using this Gem if possible.

[2018-04-26 03:33] amalc commented on #73
Both changes make sense. Will take a look.

[2018-09-20 08:11] FawadNL commented on #73
Hi @amalc ,

Any news regarding updating this gem to use api v2? Cause API V1 will be deprecated and closed on 31 December 2018.

[2018-09-20 12:44] amalc commented on #73
Sadly not yet. Have you had a chance to highlight the differences?
--
—
+1-212-537-9054 Voice
+1-917-415-3745 Text

[2018-09-20 13:20] FawadNL commented on #73
Please look into this gem, which supports api v2: https://github.com/rikas/zoho_hub

[2019-07-19 13:57] #38 closed

[2021-06-04 10:55] MittalPatel-BTC opened #74 "RubyZoho: Web service call failed with 400"
@amalc: Facing issues while defining the Zoho configurations.

**System version**
1. Rails: 4.2.8
2. Ruby: 2.2.5
3. Ubuntu: 18.04
4. rubyzoho: 0.5.0

Currently, my application is running on the above version and when I try to set up the RubyZoho configurations it would not allow me to do so and give me the "Web service call failed with 400" error every time.

_NOTE: Same code is working in Ubuntu

[2021-06-04 12:03] ronald commented on #74
Sorry, can't help you with RubyZoho. (Lib and the API are quiet old.)

New API is using OAuth. Did you check out alternatives?
- https://github.com/zoho/zohocrm-ruby-sdk
- https://github.com/rikas/zoho_hub